POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USERNAME=ipos
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=ipos
# used by next.js to proxy api requests to the api server. you likely don't need
# to change this
API_SERVER_URL=http://127.0.0.1:3001/api
